/* Header */

header {
	width: 100%;
	height: 80px;
	background-color: #7296B4;
	top: 0;
	z-index: 1000;
	padding: 15px 0 8px 0;
}
.name {
	width: 450px;
	height: 90px;
	float: left;
	display: block;
	margin-top: 15px;
	background: url("../images/name.svg") no-repeat;
	
}



nav { 
    
	float: right;
	
	
}

nav ul {
	list-style-type: none;
	text-align: right;
	
}

nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-left: 20px;
	cursor: pointer;
}

nav li a:link {
	color: #FCF2F2;
	text-decoration: none;
}

nav li a:visited {
	color: #091c5a;
}

nav li a:hover {
	color: #ff6600;
	
}

nav li a:active {
	color: #ff6600;
}

.section-head {
	text-align: center;
	
	
}


.section-copy {
	text-align: center;
	font-size: 1.2em;
	
}

.type-overlay {
	
	width: 150%;
	z-index: 5;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	color: #ffffff;
}

.overlay-text {
	top: 150px;
	width: 30%;
	z-index: 5;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	color: #ffffff;
	font-size: 1.3em;
}


/* Introduction */
.introduction{
	width:100%;
	padding:100px 0;
	background-color: #efefef;
	
}
.projects-box{
	background-color: #f8f8f8;
}

.projects-text{
	text-align: justify;
	padding: 10px 20px;
	
}

/* Culture */
.culture {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #7296B4;
	
}

.culture {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #7296B4;
	
}

/* About Us */
.about {
	width: 460px;
	padding: 100px 0 100px 0;
	background-color:#efefef;
}

.about {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #efefef;
}



/* Customer Testimonials */
.testimonials{ 
	width:100%;
	padding:100px 0;
	background-color: #7296B4;
}

.testimonials img{
	width:140px;
	height:140px;
	margin-bottom: 4px;
	border-radius: 50%;
	
}

/*Portfolio*/
.portfolio {
	width: 100%;
	padding: 100px 0;
	float: left;
	background: #7296B4;
}



 /* Projects */
.projects{
	width:200px;
	height:300px;
	padding:100px 0;
	background-color: #5765CE;
	
}
.projects-box{
	background-color: #f8f8f8;
}

.projects-text{
	text-align: left;
	padding: 10px 20px;
	
}

.projects-link{ 
	font-size: 7em;
	letter-spacing: .09em;
	text-transform: uppercase;
	font-weight:900;
	
	
	
}

/* Features */

.features {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
	}

.features-subhead {
	text-align: left;
	margin-left: 60px;
	}

.features-copy {
	margin-bottom: 20px;
	margin-left: 60px;
	text-align: left;
}



/* Memberships */
 
.tours {
	width: 100%;
	padding:100px 0;
	background-color: #7296B4;
}

.membership-free,
.membership-monthly,
.membership-yearly {
	font-size: 2em;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
}


.membership-free{
	background-color: #5765CE;
}

.membership-monthly{
	background-color: #5765CE;
}

.membership-yearly{
	background-color: #5765CE;
}

.membership-cost {
	font-size: 1.2em;
	color: #efefef;
	font-weight: 900;
	text-align: center;
	padding: 10px 0;
	background-color: #8AA1AF;
}

.membership-features {
	text-align: center;
	padding: 30px 0 20px 0;
	background-color: #F4EAEA;
}

.membership-features ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.membership-features li {
	list-style: none outside none;
	padding: 0 20px 10px 20px;
}

.membership-btn {
   margin: 30px auto;
}

.membership-btn a:link {
	border-radius: 5px;
	background-color: #5765CE;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #efefef;
}


/* Locations */
.locations { 
	width: 100%;
	padding: 100px 0

}



/* Maps/ Contact Us */

#get-involved-form {
	width: 100%;
	padding: 100px 0;
	float: left;
	background: #efefef;
}
.get-involved-form {
	width:460px;
	font-size: 0.9em;
}

.get-involved-form input[type="text"],
.get-involved-form input[type="text"],
.get-involved-form textarea,
.get-involved-form select {
	width: 100%;
	height: 35px;
	margin-bottom: 25px;
	padding: 5px 5px 5px 10px;
	font-size: 1.2em;
	line-height: 1.5;
	background: #FFFFFF;
	border: none;
}

.get-involved-form select {
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 100%;
	height: 35px;
}

.get-involved-form textarea {
	height: 190px;
}

.button {
	display: block;
	float: right;
}

.get-involved-form input.button {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	font-weight: 700;
	width: 125px;
	height: 40px;
	background: #F0AF5D;
	border: 1px solid #F0AF5D;
	color: #000000;
	border-radius: 35px;
	cursor: pointer;

}

.get-involved-link {
	font-size: .7em;
	letter-spacing: .09em;
	text-transform: uppercase;
	font-weight: 900;
	color: #B8C8E6;
}

get-involved li a {
	color: #000000;
	text-decoration: none;
}

get-involved li a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

get-involved li a:hover{
	color: #ffffff;
	text-decoration: none;
}

get-involved li a:active{
	color: #56627A;
	text-decoration: none;
}

/* Audio */

#audio {
	width: 100%;
	padding: 100px 0;
	background: #4c4c4c;
}

audio {
	width: 100%;
}

/* Video */

#video {
	width: 100%;
	padding: 100px 0;
	background: #000000;
}

/*  Footer */
footer {
  width: 100%;
  background-color: #7296B4;
  float: left;
  text-align: left;
  padding: 100px 0 0 0;
}

footer a:link {
  color: #ffffff;
  text-decoration: none;
}
footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
}
footer a:active {
  color: #ffffff;
}
.footer-logo img {
  float: left;
  height: 161px;
  padding: 8px;
}
.footer-nav li {
  list-style-type: none;
  color: #ffffff;
}
.footer-nav a:link {
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:visted {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:active {
  color: #000000;
}
.social-icons li {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  padding-right: 10px;
}
.social-icons a:link {
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:visted {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:active {
  color: #ffffff;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  color: #ffffff;
  font-size: 1.9em;
}

.unesco-logo {
	width: 89px;
	height: 69px;
	margin-left: 40px;
}

.copyright {
  display:block;
  float: left;
  background-color: #7296B4;
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding: 25px 0;
  margin-top:100px;
}

.copyright a:link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:visted {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:active {
  color: #ffffff;
}








/* Desktop and Laptops */
@media only screen and (min-width: 1224px) {
	video{
		width: 100%;
	}
}










